    /*
    Flaticon icon font: Flaticon
    Creation date: 19/10/2018 08:48
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-facebook:before { content: "\f100"; }
.flaticon-002-dribbble:before { content: "\f101"; }
.flaticon-003-blogger:before { content: "\f102"; }
.flaticon-004-twitter:before { content: "\f103"; }
.flaticon-005-mobileme:before { content: "\f104"; }
.flaticon-006-stumbleupon:before { content: "\f105"; }
.flaticon-007-flickr:before { content: "\f106"; }
.flaticon-008-windows:before { content: "\f107"; }
.flaticon-009-bebo:before { content: "\f108"; }
.flaticon-010-share:before { content: "\f109"; }
.flaticon-011-whatsapp:before { content: "\f10a"; }
.flaticon-012-friendfeed:before { content: "\f10b"; }
.flaticon-013-dropbox:before { content: "\f10c"; }
.flaticon-014-placeholder:before { content: "\f10d"; }
.flaticon-015-android:before { content: "\f10e"; }
.flaticon-016-rss:before { content: "\f10f"; }
.flaticon-017-telegram:before { content: "\f110"; }
.flaticon-018-vimeo:before { content: "\f111"; }
.flaticon-019-skype:before { content: "\f112"; }
.flaticon-020-vine:before { content: "\f113"; }
.flaticon-021-opera:before { content: "\f114"; }
.flaticon-022-facebook-1:before { content: "\f115"; }
.flaticon-023-google-plus:before { content: "\f116"; }
.flaticon-024-google-play:before { content: "\f117"; }
.flaticon-025-reddit:before { content: "\f118"; }
.flaticon-026-drive:before { content: "\f119"; }
.flaticon-027-tripadvisor:before { content: "\f11a"; }
.flaticon-028-html5:before { content: "\f11b"; }
.flaticon-029-snapchat:before { content: "\f11c"; }
.flaticon-030-evernote:before { content: "\f11d"; }
.flaticon-031-myspace:before { content: "\f11e"; }
.flaticon-032-addthis:before { content: "\f11f"; }
.flaticon-033-foursquare:before { content: "\f120"; }
.flaticon-034-twitter-1:before { content: "\f121"; }
.flaticon-035-swarm:before { content: "\f122"; }
.flaticon-036-pinterest:before { content: "\f123"; }
.flaticon-037-newsvine:before { content: "\f124"; }
.flaticon-038-spotify:before { content: "\f125"; }
.flaticon-039-vk:before { content: "\f126"; }
.flaticon-040-deviantart:before { content: "\f127"; }
.flaticon-041-yelp:before { content: "\f128"; }
.flaticon-042-kickstarter:before { content: "\f129"; }
.flaticon-043-wattpad:before { content: "\f12a"; }
.flaticon-044-hangout:before { content: "\f12b"; }
.flaticon-045-delicious:before { content: "\f12c"; }
.flaticon-046-xing:before { content: "\f12d"; }
.flaticon-047-youtube:before { content: "\f12e"; }
.flaticon-048-instagram:before { content: "\f12f"; }
.flaticon-049-linkedin:before { content: "\f130"; }
.flaticon-050-apple:before { content: "\f131"; }
    
    $font-Flaticon-001-facebook: "\f100";
    $font-Flaticon-002-dribbble: "\f101";
    $font-Flaticon-003-blogger: "\f102";
    $font-Flaticon-004-twitter: "\f103";
    $font-Flaticon-005-mobileme: "\f104";
    $font-Flaticon-006-stumbleupon: "\f105";
    $font-Flaticon-007-flickr: "\f106";
    $font-Flaticon-008-windows: "\f107";
    $font-Flaticon-009-bebo: "\f108";
    $font-Flaticon-010-share: "\f109";
    $font-Flaticon-011-whatsapp: "\f10a";
    $font-Flaticon-012-friendfeed: "\f10b";
    $font-Flaticon-013-dropbox: "\f10c";
    $font-Flaticon-014-placeholder: "\f10d";
    $font-Flaticon-015-android: "\f10e";
    $font-Flaticon-016-rss: "\f10f";
    $font-Flaticon-017-telegram: "\f110";
    $font-Flaticon-018-vimeo: "\f111";
    $font-Flaticon-019-skype: "\f112";
    $font-Flaticon-020-vine: "\f113";
    $font-Flaticon-021-opera: "\f114";
    $font-Flaticon-022-facebook-1: "\f115";
    $font-Flaticon-023-google-plus: "\f116";
    $font-Flaticon-024-google-play: "\f117";
    $font-Flaticon-025-reddit: "\f118";
    $font-Flaticon-026-drive: "\f119";
    $font-Flaticon-027-tripadvisor: "\f11a";
    $font-Flaticon-028-html5: "\f11b";
    $font-Flaticon-029-snapchat: "\f11c";
    $font-Flaticon-030-evernote: "\f11d";
    $font-Flaticon-031-myspace: "\f11e";
    $font-Flaticon-032-addthis: "\f11f";
    $font-Flaticon-033-foursquare: "\f120";
    $font-Flaticon-034-twitter-1: "\f121";
    $font-Flaticon-035-swarm: "\f122";
    $font-Flaticon-036-pinterest: "\f123";
    $font-Flaticon-037-newsvine: "\f124";
    $font-Flaticon-038-spotify: "\f125";
    $font-Flaticon-039-vk: "\f126";
    $font-Flaticon-040-deviantart: "\f127";
    $font-Flaticon-041-yelp: "\f128";
    $font-Flaticon-042-kickstarter: "\f129";
    $font-Flaticon-043-wattpad: "\f12a";
    $font-Flaticon-044-hangout: "\f12b";
    $font-Flaticon-045-delicious: "\f12c";
    $font-Flaticon-046-xing: "\f12d";
    $font-Flaticon-047-youtube: "\f12e";
    $font-Flaticon-048-instagram: "\f12f";
    $font-Flaticon-049-linkedin: "\f130";
    $font-Flaticon-050-apple: "\f131";