	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/10/2018 08:48
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-facebook:before { content: "\f100"; }
.flaticon-002-dribbble:before { content: "\f101"; }
.flaticon-003-blogger:before { content: "\f102"; }
.flaticon-004-twitter:before { content: "\f103"; }
.flaticon-005-mobileme:before { content: "\f104"; }
.flaticon-006-stumbleupon:before { content: "\f105"; }
.flaticon-007-flickr:before { content: "\f106"; }
.flaticon-008-windows:before { content: "\f107"; }
.flaticon-009-bebo:before { content: "\f108"; }
.flaticon-010-share:before { content: "\f109"; }
.flaticon-011-whatsapp:before { content: "\f10a"; }
.flaticon-012-friendfeed:before { content: "\f10b"; }
.flaticon-013-dropbox:before { content: "\f10c"; }
.flaticon-014-placeholder:before { content: "\f10d"; }
.flaticon-015-android:before { content: "\f10e"; }
.flaticon-016-rss:before { content: "\f10f"; }
.flaticon-017-telegram:before { content: "\f110"; }
.flaticon-018-vimeo:before { content: "\f111"; }
.flaticon-019-skype:before { content: "\f112"; }
.flaticon-020-vine:before { content: "\f113"; }
.flaticon-021-opera:before { content: "\f114"; }
.flaticon-022-facebook-1:before { content: "\f115"; }
.flaticon-023-google-plus:before { content: "\f116"; }
.flaticon-024-google-play:before { content: "\f117"; }
.flaticon-025-reddit:before { content: "\f118"; }
.flaticon-026-drive:before { content: "\f119"; }
.flaticon-027-tripadvisor:before { content: "\f11a"; }
.flaticon-028-html5:before { content: "\f11b"; }
.flaticon-029-snapchat:before { content: "\f11c"; }
.flaticon-030-evernote:before { content: "\f11d"; }
.flaticon-031-myspace:before { content: "\f11e"; }
.flaticon-032-addthis:before { content: "\f11f"; }
.flaticon-033-foursquare:before { content: "\f120"; }
.flaticon-034-twitter-1:before { content: "\f121"; }
.flaticon-035-swarm:before { content: "\f122"; }
.flaticon-036-pinterest:before { content: "\f123"; }
.flaticon-037-newsvine:before { content: "\f124"; }
.flaticon-038-spotify:before { content: "\f125"; }
.flaticon-039-vk:before { content: "\f126"; }
.flaticon-040-deviantart:before { content: "\f127"; }
.flaticon-041-yelp:before { content: "\f128"; }
.flaticon-042-kickstarter:before { content: "\f129"; }
.flaticon-043-wattpad:before { content: "\f12a"; }
.flaticon-044-hangout:before { content: "\f12b"; }
.flaticon-045-delicious:before { content: "\f12c"; }
.flaticon-046-xing:before { content: "\f12d"; }
.flaticon-047-youtube:before { content: "\f12e"; }
.flaticon-048-instagram:before { content: "\f12f"; }
.flaticon-049-linkedin:before { content: "\f130"; }
.flaticon-050-apple:before { content: "\f131"; }